.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Venetian-Blinds-Control.slnx/FileContentIndex/bdfc7dfb-fc4b-43dd-956c-7453f0af6b1e.vsidx
.vs/Venetian-Blinds-Control.slnx/v18/.wsuo
.vs/Venetian-Blinds-Control.slnx/v18/DocumentLayout.json
